<!doctype html>
<!-- 
   But :    projet 307 - Vue des personnages
   Auteur : clara brodard
   Date :   06.06.2023 / V1.0 
   -->
<!-- panneau pour la première vue utile (personnages) -->
<div id="personnages">
  <div >
    <h3 id="title">Accueil</h3>
    
  </div>
  <div>
    <p>Bienvenue,
      le monde captivant du trône de fer vous attend!
      Ce récit épique a captivé des millions de personnes à travers le monde,
      que ce soit lecteurs ou téléspectateurs.
    </p>
  </div>
</div>  <!-- fin panneau suite -->
